{%- from 'macros.html' import navlink with context -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>ToDo - task management</title>

    <link rel=stylesheet type=text/css href="/static/css/bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/custom.css">
  </head>

  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ToDo</h3>
              <ul class="nav masthead-nav">
                {% if g.user %}
                  {{ navlink('index','Settings') }}
                  {{ navlink('signout','Sign out') }}
                {% else %}
                  {{ navlink('index','Home') }}
                  {{ navlink('signin','Sign in') }}  
                  {{ navlink('signup','Sign up') }}
                {% endif %}
              </ul>
            </div><!--/.inner -->
          </div><!--/.masthead clearfix -->

          {% with flashes = get_flashed_messages() %}
            {% if flashes %}
              {% for message in flashes %}
                {{ message }}
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% block body %}{% endblock %}

          <div class="mastfoot">
              <p>By Mateusz Nadolski</p>
          </div><!--/.mastfoot -->

        </div><!--/.cover-container -->

      </div><!--/.site-wrapper-inner -->

    </div><!--/.site-wrapper -->
  </body>
</html>
