{% extends "layout.html" %}

{% block body %}
  <div class="row">
    <a href="{{ url_for('add_project') }}"><img class="pull-left control-image" src="/static/img/add.jpg" /></a>
  </div>  
  <div class="row">
    {% for project in projects %}
      <div class="col-sm-3">
        <div class="tile-progress tile-red">
          <div class="tile-header">
            <a href="{{ url_for('show_project', project_id=project.id)}}">
              <h3>{{project.name}}</h3>
            </a>
            <span>{{project.description}}</span>
          </div>
          <div class="tile-progressbar">
            {% set progress = stats[project.id][2] %}
            <span data-fill="{{progress}}%" style="width: {{progress}}%;"></span>
          </div>
          <div class="tile-footer">
            <h4>
              <span class="pct-counter">
                <center>{{ stats[project.id][0] }} / {{ stats[project.id][1] }}</center>
              </span>
            </h4>
            <span><center>
              <a href="{{ url_for('delete_project', project_id=project.id)}}">
                <img src="/static/img/remove-project.jpg" />
              </a>  
             </center></span>   
          </div>
        </div>
    </div>
    {% endfor %}
  </div>  
{% endblock %}

